<div class="recommend-tutor"
     th:each="tutor, iterStat: ${pageInfo.list}">
    <!--点击学者姓名后，跳转到详情页-->
    <p>
        <a style="font-size: x-large"
           target="_blank"
           th:href="'http://10.12.45.59:8080/ida/scholar/findscholarsbynamelike?scholarName='+${tutor.name}"
           th:onclick="'addCF('+${tutor.id}+')'"
           th:text="${tutor.name}">
        </a>
        <small style="font-size: 60%;"
               th:text="${'&nbsp;&nbsp;'+tutor.title+'&nbsp;&nbsp;'}"
               th:if="${!#strings.isEmpty(tutor.title)}">
        </small>
        <small style="font-size: 60%;"
               th:text="${tutor.tutorType}"
               th:if="${!#strings.isEmpty(tutor.tutorType)}">
        </small>
        <button class="p-0 ml-2"
                style="border: none;background-color: white;"
                data-toggle="modal"
                data-target="#recommendReasonModal"
                th:onclick="'getRecommendReason('+${tutor.id}+')'">
            <img alt="为什么推荐?"
                 src="img/question.svg"
                 title="为什么推荐?"
                 style="width: 20px;cursor: pointer">
        </button>
        <a th:if="${tutor.favorite != null}"
           th:id="'add'+${tutor.id}"
           th:class="${tutor.favorite}? '':'d-none'"
           th:onclick="'deleteFavorite('+${tutor.id}+')'"
           href="javascript:void(0);">
            <svg viewBox="0 0 1024 1024"
                 xmlns="http://www.w3.org/2000/svg"
                 width="35"
                 height="35"
                 style="float: right;position: relative;top: 8px;">
                <path d="M517.44768 24.9856c267.4688 5.12 472.61696 207.81056 473.31328 470.1184 0.69632 269.43488-197.34528 476.672-470.56896 478.9248-268.14464 2.21184-474.64448-199.96672-475.87328-473.33376C43.13088 232.67328 249.77408 30.33088 517.44768 24.9856z"
                      fill="#FCEBB8">
                </path>
                <path d="M314.44992 763.61728c8.00768-51.69152 12.16512-98.7136 23.4496-143.93344 6.656-26.66496-0.53248-42.35264-18.24768-59.35104-27.62752-26.48064-53.92384-54.41536-80.56832-81.94048-15.81056-16.32256-34.67264-33.54624-26.56256-58.44992 9.23648-28.38528 35.47136-35.328 62.58688-39.05536 34.34496-4.7104 68.42368-11.61216 102.8096-15.83104 27.2384-3.33824 41.984-16.71168 51.79392-42.88512 14.0288-37.31456 31.744-73.5232 50.9952-108.50304 23.57248-42.86464 59.33056-43.25376 83.31264-1.18784 17.2032 30.14656 35.4304 61.11232 44.50304 94.12608 13.14816 47.8208 45.7728 59.84256 88.22784 63.7952 29.30688 2.72384 58.7776 6.47168 87.53152 12.67712 51.79392 11.20256 69.632 55.02976 28.81536 85.27872-102.01088 75.65312-123.1872 167.07584-84.31616 283.72992 13.45536 40.36608-33.34144 73.17504-68.42368 47.26784-93.65504-69.20192-180.61312-72.54016-274.49344-0.47104-33.03424 25.41568-71.0656-0.55296-71.41376-35.26656z"
                      fill="#FEC73C">
                </path>
                <path d="M485.0688 412.52864c8.2944 0.55296 19.06688-1.65888 22.44608 7.80288 4.75136 13.23008-6.656 19.2512-16.30208 21.0944-36.59776 7.02464-58.24512 27.42272-63.46752 64.75776-1.26976 9.09312-6.53312 18.37056-15.72864 17.42848-12.30848-1.26976-14.29504-12.63616-14.49984-23.73632-0.77824-40.3456 46.2848-87.47008 87.552-87.3472z"
                      fill="#FEF9EE">
                </path>
            </svg>
        </a>
        <a th:if="${tutor.favorite != null}"
           th:id="'delete'+${tutor.id}"
           th:class="${tutor.favorite}? 'd-none':''"
           th:onclick="'addFavorite('+${tutor.id}+')'"
           href="javascript:void(0);">
            <svg viewBox="0 0 1024 1024"
                 xmlns="http://www.w3.org/2000/svg"
                 width="35"
                 height="35"
                 style="float: right;position: relative;top: 8px;">
                <path d="M517.44768 24.9856c267.4688 5.12 472.61696 207.81056 473.31328 470.1184 0.69632 269.43488-197.34528 476.672-470.56896 478.9248-268.14464 2.21184-474.64448-199.96672-475.87328-473.33376C43.13088 232.67328 249.77408 30.33088 517.44768 24.9856z"
                      fill="#ecf0f1">
                </path>
                <path d="M314.44992 763.61728c8.00768-51.69152 12.16512-98.7136 23.4496-143.93344 6.656-26.66496-0.53248-42.35264-18.24768-59.35104-27.62752-26.48064-53.92384-54.41536-80.56832-81.94048-15.81056-16.32256-34.67264-33.54624-26.56256-58.44992 9.23648-28.38528 35.47136-35.328 62.58688-39.05536 34.34496-4.7104 68.42368-11.61216 102.8096-15.83104 27.2384-3.33824 41.984-16.71168 51.79392-42.88512 14.0288-37.31456 31.744-73.5232 50.9952-108.50304 23.57248-42.86464 59.33056-43.25376 83.31264-1.18784 17.2032 30.14656 35.4304 61.11232 44.50304 94.12608 13.14816 47.8208 45.7728 59.84256 88.22784 63.7952 29.30688 2.72384 58.7776 6.47168 87.53152 12.67712 51.79392 11.20256 69.632 55.02976 28.81536 85.27872-102.01088 75.65312-123.1872 167.07584-84.31616 283.72992 13.45536 40.36608-33.34144 73.17504-68.42368 47.26784-93.65504-69.20192-180.61312-72.54016-274.49344-0.47104-33.03424 25.41568-71.0656-0.55296-71.41376-35.26656z"
                      fill="#95a5a6">
                </path>
                <path d="M485.0688 412.52864c8.2944 0.55296 19.06688-1.65888 22.44608 7.80288 4.75136 13.23008-6.656 19.2512-16.30208 21.0944-36.59776 7.02464-58.24512 27.42272-63.46752 64.75776-1.26976 9.09312-6.53312 18.37056-15.72864 17.42848-12.30848-1.26976-14.29504-12.63616-14.49984-23.73632-0.77824-40.3456 46.2848-87.47008 87.552-87.3472z"
                      fill="#FEF9EE">
                </path>
            </svg>
        </a>
    </p>
    <!--学院-->
    <p>
        <span class="badge badge-pill badge-primary custom-badge mr-2">
            学院
        </span>
        <span th:text="${tutor.organization}"
              th:if="${!#strings.isEmpty(tutor.organization)}">
        </span>
        <span style="color: #acacac;"
              th:if="${#strings.isEmpty(tutor.organization)}">
            暂无数据
        </span>
        <br>
    </p>
    <!--研究所-->
    <p>
        <span class="badge badge-pill badge-success custom-badge mr-2">
            研究所
        </span>
        <span th:text="${tutor.subOrganization}"
              th:if="${!#strings.isEmpty(tutor.subOrganization)}">
        </span>
        <span style="color: #acacac;"
              th:if="${#strings.isEmpty(tutor.subOrganization)}">
            暂无数据
        </span>
        <br>
    </p>
    <!--方向-->
    <p>
        <span class="badge badge-pill badge-info custom-badge mr-2">
            方向
        </span>
        <span th:text="${tutor.studySpeciality}"
              th:if="${!#strings.isEmpty(tutor.studySpeciality)}">
        </span>
        <span style="color: #acacac;"
              th:if="${#strings.isEmpty(tutor.studySpeciality)}">
            暂无数据
        </span>
        <br>
    </p>
    <!--邮箱-->
    <p>
        <span class="badge badge-pill badge-warning custom-badge mr-2">
            邮箱
        </span>
        <span th:text="${tutor.email}" th:if="${!#strings.isEmpty(tutor.email)}">
        </span>
        <span style="color: #acacac;"
              th:if="${#strings.isEmpty(tutor.email)}">
            暂无数据
        </span>
        <br>
    </p>
    <!--论文-->
    <p style="display: none"
       th:if="${!#lists.isEmpty(tutor.articleList)}">
        <span class="badge badge-pill badge-info custom-badge mr-2"
              style="background-color: #9347e3;">
            论文
        </span>
        <span th:each="article, articleStat: ${tutor.articleList}"
              th:title="${'keyword：'+article.keyWord+'；partner：'+article.partner}">
            [[${article.title}]]
            <span th:if="${articleStat.index} ne (${articleStat.size} - 1)">
            ，
            </span>
        </span>
        <br>
    </p>
    <!--专利-->
    <p style="display: none"
       th:if="${!#lists.isEmpty(tutor.patentList)}">
        <span class="badge badge-pill badge-info custom-badge mr-2"
              style="background-color: #715cb0;">
            专利
        </span>
        <span th:each="patent, patentStat: ${tutor.patentList}"
              th:title="${'firstInventor：'+patent.firstInventor+'；inventors：'+patent.inventors}">
            [[${patent.name}]]
            <span th:if="${patentStat.index} ne (${patentStat.size} - 1)">
            ，
            </span>
        </span>
        <br>
    </p>
    <!--纵向项目-->
    <p style="display: none"
       th:if="${!#lists.isEmpty(tutor.verticalProjectList)}">
        <span class="badge badge-pill badge-info custom-badge mr-2"
              style="background-color: #c94ba7;">
            纵向项目
        </span>
        <span th:each="verticalProject, vProjectStat: ${tutor.verticalProjectList}"
              th:title="${'leader：'+verticalProject.leader+'；cooperators：'+verticalProject.cooperators}">
            [[${verticalProject.name}]]
            <span th:if="${vProjectStat.index} ne (${vProjectStat.size} - 1)">
            ，
            </span>
        </span>
        <br>
    </p>
    <!--横向项目-->
    <p style="display: none"
       th:if="${!#lists.isEmpty(tutor.horizontalProjectList)}">
        <span class="badge badge-pill badge-info custom-badge mr-2"
              style="background-color: #d16262;">
            横向项目
        </span>
        <span th:each="horizontalProject, hProjectStat: ${tutor.horizontalProjectList}"
              th:title="${'leader：'+horizontalProject.leader+'；cooperators：'+horizontalProject.cooperators}">
            [[${horizontalProject.name}]]
            <span th:if="${hProjectStat.index} ne (${hProjectStat.size} - 1)">
            ，
            </span>
        </span>
        <br>
    </p>
    <!--查找相似-->
    <div th:if="${isTrain}"
         class="float-right position-relative mr-5 pr-5">
        <a class="btn btn-sm btn-primary position-absolute relative-btn"
           style="display: none"
           target="_blank"
           th:href="'relative?tutorNeo4jId='+${tutor.id}">
            查找相似
        </a>
    </div>
</div>

<button id="nextRecommendPageButton"
        style="width: 10%;"
        class="btn btn-outline-primary"
        onclick="nextRecommendPage()"
        th:if="${pageInfo.pages != pageInfo.pageNum}">
    发现更多
</button>

<span class="ml-3"
      th:if="${pageInfo.pages == pageInfo.pageNum}">
    <strong style="color: grey;font-size: x-large;">
        —— END ——
    </strong>
</span>
