<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/iconfont.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/displayframe.css}">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/tutor-recommend-system/jquery.animate-shadow-min.js}"></script>
    <script type="text/javascript" th:src="@{js/tutor-recommend-system/constants.js}"></script>
    <script type="text/javascript" th:src="@{js/tutor-recommend-system/utils.js}"></script>
</head>
<body>
<div class="show-recommend-result">

    <div class="recommend-box row" th:each="hp:${HP}">
        <div class="recommend-subTitle col-10">
            <span>[[${hp.name}]]</span>
        </div>
        <div class="paper-info row">
            <div class="first-info col-5">
                <i class="iconfont icon-zuozhe"></i>
                <span style="font-weight: bold">负责人：</span>
                <span>[[${hp.leader}?${hp.leader}:'暂无']]</span>
            </div>

            <div class="second-info col-6">
                <i class="iconfont icon-hezuogongsi"></i>
                <span style="font-weight: bold">合作公司：</span>
                <span>[[${hp.boss}?${hp.boss}:'暂无']]</span>
            </div>


            <div class="each-info col-5">
                <i class="iconfont icon-hengxiangxiangmu"></i>
                <span style="font-weight: bold">类型：</span>
                <span>[[${hp.nature}?${hp.nature}:'暂无']]</span>
            </div>

            <div class="third-info col-6">
                <i class="iconfont icon-suoshuzuzhi"></i>
                <span style="font-weight: bold">所属学院：</span>
                <span>[[${hp.organization}?${hp.organization}:'暂无']]</span>
            </div>
        </div>
    </div>

<!--    <div class="load-more">-->
<!--        <span class="load-btn">再推荐几条看看</span>-->
<!--    </div>-->
</div>

<script>
    $(document).ready(function(){
        $('.load-btn').mouseover(function(){
            $(".load-btn").css("background","#ECEDF2");
        });
        $('.load-btn').mouseout(function(){
            $(".load-btn").css("background","#eff6ef");
        });
    });
</script>
</body>
</html>