<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/iconfont.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/displayframe.css}">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/tutor-recommend-system/jquery.animate-shadow-min.js}"></script>
    <script type="text/javascript" th:src="@{js/tutor-recommend-system/constants.js}"></script>
    <script type="text/javascript" th:src="@{js/tutor-recommend-system/utils.js}"></script>
</head>
<body>

<h3 class="spinner-border text-primary" id="TeacherRecommendSpinner"
    role="status"
    style="position: absolute;float: left;left: 48%;top: 43%;z-index: 10; width: 4rem;height: 4rem;display: block">
    <span class="sr-only">Loading...</span>
</h3>

<div class="show-recommend-result">
    <div class="recommend-box">

        <div style='color: #0f141c;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 26px;'>【可能感兴趣的导师】</div>

        <div class="relative-recommend" th:each="scholar:${tutor}">

            <div class="recommend-subTitle">
                <a class="recommend-content"
                   th:onclick="'addChoose('+${scholar.id}+')'"
                   th:href="'http://10.12.45.49:8080/ida/scholar/findscholarsbynamelike?scholarName='+${scholar.name}"
                target="_blank"
                style="text-decoration: none;color: black">
                    [[${scholar.name}]]</a>
            </div>

            <div class="recommend-information">

                <span class="first-info">
                  <span>
                    <span style="font-weight: bold">学院：</span>
                  </span>
                  <span>[[${scholar.organization}?${scholar.organization}:'暂无']]</span>
                </span>

                <span class="second-info">
                  <span>
                    <span style="font-weight: bold">研究方向：</span>
                  </span>
                  <span>[[${scholar.studySpeciality}?${scholar.studySpeciality}:'暂无']]</span>
                </span>

                <span class="third-info">
                  <span>
                    <span style="font-weight: bold">邮箱：</span>
                  </span>
                  <span>[[${scholar.email}?${scholar.email}:'暂无']]</span>
                </span>

            </div>
        </div>


        <div class="BoxFooter">
            <i class="iconfont icon-gengduo"></i>
            <span>查看更多感兴趣的导师</span>
        </div>

    </div>


</div>

<script>

    function addChoose(tutorNeo4jId) {
        console.log(tutorNeo4jId)
        if (hasToken()) {
            $.ajax({
                contentType: 'application/json',
                type: 'POST',
                url: BASE_URL+"choose/add",
                dataType: "json",
                headers: getToken(),
                data: JSON.stringify(tutorNeo4jId),
                success: res => {
                    if (res.result_code !== 0) {
                        removeToken()
                    }
                }
            })
        }
    }


    // $(document).finish(function(){
    //
    //     console.log("完成")
    //     $("#TeacherRecommendSpinner").style.display = "block"
    //
    // })

    $(document).ready(function () {
        document.getElementById("TeacherRecommendSpinner").style.display = "none"
    })





</script>
</body>
</html>