
/* The style designed for the display of recommendation results*/
.pt-0{
    display: flex;
    flex: 1 1;
    align-items: center;
    height: 80px;
}

.header-left{
    display: flex;
    flex: 1 1;
    align-items: center;
    width:65%;
}
/*页面最上方导航栏中的网站logo图*/
.logo{
    position: relative;
    display: flex;
    align-items: center;
    order: 1;
    height: 100%;
    margin-bottom: 0;
    width:25%;
}

.top-nav{
    position: relative;
    display: flex;
    align-items: center;
    order: 2;
    width: 100%;
    height: 100%;
    margin-top: 14px;
    margin-left: 20px;
}

.nav-link{
    color: #dfdfdf;
    font-size: 13px;
}

.header-right{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 3;
    width: 20%;
    margin-left: -10px;
}

.login-icon{
    margin-right: 15px;
}

.form-control{
    width:70%;
    margin: 0 auto;
    height:35px;
    border-radius: 24px;
    font-size: 15px;
}
.website-info{
    padding-right: 70px;
    padding-top: 40px;
    color: white;
}
/*导航栏下方的整个块级展示区域*/
.main-content{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*.recommend-nav{*/
/*    margin-top: 5px;*/
/*}*/
.recommend-link{
    font-size:16px;
    color: black;
    font-weight: 700;
    margin-right: 20px;
}
/*用于展示推荐结果的整个块级区域*/
.show-recommend-result{
    width:90%;
    margin-top: 10px;
}

/*放置每类推荐结果的框*/
.recommend-box {
    display: block;/*原始为flex*/
    flex-direction: row;
    padding: 14px 16px;
    margin: 15px 15px 15px;
    --legend_icon_color: #009089;
    --legend_color: #009089;
    --split_line_border_color: #d7ece9;
    background: white;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

/*放置鼠标时有阴影效果*/
.recommend-box:hover {
    box-shadow: 2px 4px 8px 0 hsl(0,0%,71%);
}

/*推荐结果的类型：导师、项目、论文...*/
.recommend-type{
    color: #0f141c;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
}
.avatar img{
    width: 82px;
    height: 118px;
}
.paper-info{
    color: #333;
    flex: 1 1;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
    line-height: 30px;
    margin-top: 2px;
    margin-left: 20px;
    font-size: 13px;
}
.info{
    color: #333;
    flex: 1 1;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
    line-height: 30px;
    margin-top: 2px;
}
.tutor-name{
    font-weight: bold;
    font-size: 20px;
}
.tutor-organization{
    font-size: 13px;
}
.tutor-title{
    font-size: 13px;
}
.tutor-type{
    font-size: 13px;
}
.tutor-email{
    font-size: 15px;
    font-family: "PingFang SC", "Times New Roman", Georgia, Serif, serif;
}
.tutor-direction{
    font-size: 13px;
}
.tutor-stu-list{
    font-size: 13px;
}
.recent-conference{
    padding: 15px 17px;
    background: #f8f9fa;
    border-radius: 8px;
    margin: 15px 0px 20px 0;
}
.top-periodical{
    padding: 15px 17px;
    background: #f8f9fa;
    border-radius: 8px;
    margin: 15px 0px 20px 0;
}
.periodical-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(73,105,128,.2);
}

.periodical-icon{
    margin-right: 25px;
    margin-left: 2px;
    color: #7792a4;
    font-weight: 400;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC, sans-serif;
}
.periodical-each{
    margin: 8px 5px 0px 0px;
}
.periodical-name{
    margin-top: 6px;
    font-size: 13px;
}
.conference-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(73,105,128,.2);
}
.text-header{
    font-size: 18px;
    margin-top:8px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.conference-name{
    color: #5f6367;
    font-weight: 700;
    font-size: 28px;
    font-family: Roboto-Bold, Roboto, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.conference-date{
    margin-bottom: 8px;
}
.conference-location{
    margin-bottom: 8px;
}
.text-time{
    margin-right: 25px;
    margin-left: 15px;
    color: #7792a4;
    font-weight: 400;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC, sans-serif;
}
.text-location{
    margin-right: 25px;
    margin-left: 15px;
    color: #7792a4;
    font-weight: 400;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC, sans-serif;
}
.text-deadline{
    margin-right: 25px;
    margin-left: 15px;
    color: #7792a4;
    font-weight: 400;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC, sans-serif;
}
.text-inform{
    margin-right: 25px;
    margin-left: 15px;
    color: #7792a4;
    font-weight: 400;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC, sans-serif;
}
.text-name{
    width:100px;
}
.click-num{
    display: inline-block;
    /*background: #f6f7f9;*/
    color: #555;
    /*border: 1px solid #d9d9d9;*/
    border-radius: 5px;
    margin: 0 30px 5px 18px;
    padding: 2px 10px;
    font-size: 10px;

}

/*相关信息*/
.recommend-information{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    color: #202124;
    font-size: 14px;
    opacity: .7;
}

.relative-recommend {
    position: relative;
    padding: 12px 16px 0;
}

.relative-recommend:before {
    position: absolute;
    top: 21px;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 1;
    display: block;
    width: 5px;
    height: 5px;
    background: #1a73e8;
    border-radius: 2px;
    content: "";
}

.recommend-subTitle {
    display: flex;
    color: #0f141c;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 19.6px;
}

.recommend-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-first-info{
    padding: 0 12px 0 11px;
}
.first-info{
    padding: 0 12px 0 0;
}

/*.first-info:after{
    position:relative;
    top: 85%;
    right: 586px;
    width: 4px;
    height: 4px;
    background: #202124;
    border-radius: 2px;
    transform: translateY(-70%);
    display: block;
    content: ""
}*/

.second-info{
    padding: 0 12px 0 0;
}
.each-info{
    padding: 0 12px 0 0;
}
/*.second-info:after{
    position:relative;
    top: 85%;
    right: 499px;
    width: 4px;
    height: 4px;
    background: #202124;
    border-radius: 2px;
    transform: translateY(-70%);
    display: block;
    content: ""
}*/
.third-info{
    padding: 0 12px 0 0;
}

.BoxFooter {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -5px;
    color: #1a73e8;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.left-side{
    width: 68%;
    /*position: relative;*/
    float: left;
}

.right-side{
    width: 30%;
    margin-top: 34px;
    margin-left: 20px;
    /*position: relative;*/
    float: right;
}
.right-homeLogin {
    box-sizing: border-box;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    background-color:rgb(238, 249, 255);
    border-radius: 4px;
    border: 1px solid rgb(218, 220, 224);
    margin: 15px 0px 20px 0;
}

.p1 {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium,PingFang SC;
    line-height: 20px;
}

.p2 {
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Semibold,PingFang SC;
    line-height: 30px;
}
.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium,PingFang SC;
    background: #1a73e8;
    border-radius: 4px;
    cursor: pointer;
}
.rotation-diagram{
    text-align: center;
    background: #f8f9fa;
    padding: 30px 16px 50px;
    margin: 15px 15px 20px 0;
    border-radius: 10px;
}

.carousel{
    height:220px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev{
    background-color: #91979c;
}

.carousel-control-next{
    background-color: #91979c;
}
/*
.recommends-tutor-orgCard .a-core-home2-c-recommends-paper-orgBox .scholar-line>div {
    display: inline-block;
}

!*其中的每一位学者*!
.recommends-tutor-orgCard .a-core-home2-c-recommends-paper-orgBox .scholar-line .scholars {
    margin-top: 0;
}

!*显示学者所用的字体*!
.font-author {
    font-family: verdana;
}

.a-aminer-components-pops-person-person-link-personLink {
    position: relative;
}

.recommends-tutor-orgCard .a-core-home2-c-recommends-paper-orgBox .scholar-line .scholars .author_label {
    color: #202124;
    opacity: .7;
}

.a-aminer-components-pub-c-authors-authors .scholars .mr {
    margin-right: 5px;
}
*/
.load-more{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 0;
    background: none;
}
.load-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    color: #0b7f0d;
    background: #eff6ef;
    cursor: pointer;
    transition: all .2s;
    font-size: 7px;
}
.right-user{
    padding: 18px;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.welcome{
    height: 30px;
    border-bottom: 1.5px solid rgba(218,220,224,.8);
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.login-bottom{
    margin-top: 18px;
}
.login-bottom img{
    width: 48px;
    height: 48px;
    margin-right: 18px;
    overflow: auto;
    border: 2px solid #dadce0;
    border-radius: 50%;
}

.popover {
    max-width: 100%;
}