@font-face {
  font-family: "iconfont"; /* Project id 3233666 */
  src: url('iconfont.ttf?t=1649698109757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanjianzi:before {
  content: "\e635";
  font-size: 19px;
  color: black;
}

.icon-suoshuzuzhi:before {
  content: "\e63b";
  font-size: 14px;
}

.icon-yinyongliang:before {
  content: "\e729";
  font-size: 19px;
}

.icon-xingjibie:before {
  content: "\e68a";
  font-size: 17px;
  color: #8c893c;
}

.icon-zhuanlixinxi:before {
  content: "\e638";
  font-size: 19px;
}

.icon-hezuogongsi:before {
  content: "\e65f";
  font-size: 16px;
}

.icon-hengxiangxiangmu:before {
  content: "\e603";
  font-size: 19px;
  bottom: 5px;
}

.icon-zongxiangxiangmuguanli:before {
  content: "\e6d4";
  font-size: 17px;
  color: #806247;
}

.icon-zazhiqikan:before {
  content: "\e61a";
  font-size: 19px;
  color: #2d2422;
}

.icon-zuozhe:before {
  content: "\e65c";
  font-size: 20px;
  color: #2d2422;
}

.icon-nianfen:before {
  content: "\e649";
  font-size: 19px;
  color: #b5c4b1;
}
.icon-zhidao:before {
  content: "\e660";
  font-size: 18px;
  color: #7d91a6;
}

.icon-dianjiliang:before {
  content: "\e650";
  font-size: 18px;
  position: relative;
  top:1px;
}

.icon-shijian:before {
  content: "\e602";
  font-size: 16px;
  color: #7792a4;
}

.icon-didian01:before {
  content: "\e61f";
  font-size: 16px;
  color: #7792a4;
}

.icon-tijiaoluyongtongzhishu:before {
  content: "\e657";
  font-size: 16px;
  color: #7792a4;
}

.icon-jiegaoriqi:before {
  content: "\e60f";
  font-size: 16px;
  color: #7792a4;
}
.icon-yanjiu:before {
  content: "\e641";
  font-size: 18px;
  color: #1c5a8d;
}

.icon-daoshi--:before {
  content: "\e659";
  font-size: 18px;
  color: #a27e7e;
}

.icon-ziyuan74zhicheng:before {
  content: "\e6ed";
  font-size: 18px;
  color: #656a65;
}
.icon-youxiang1:before {
  content: "\e612";
  color: #b5c4b1;
  font-size: 18px;
}

.icon-xueyuan:before {
  content: "\e652";
  font-size: 18px;
  color: #907dac;
}

.icon-xingbienan:before {
  content: "\e639";
  color: #78c7d7
}

.icon-xueyuan1:before {
  content: "\e601";
}

.icon--5:before {
  content: "\e600";
  font-size: 28px;
  color: #c1cbd7;
}

.icon-nv:before {
  content: "\e60c";
  color: #ed969e;
}

.icon-youxiang:before {
  content: "\e608";
  font-size: 35px;
  color: #b5c4b1;
}
.icon-wenzhang:before {
  color: white;
  font-size: 25px;
  content: "\e84e";
}

.icon-dibudaohanglan-:before {
  color: #1c5a8d;
  font-size: 20px;
  content: "\e62a";
}

.icon-chengyuan:before {
  color: white;
  font-size: 25px;
  content: "\e73d";
}

.icon-wenda:before {
  color: white;
  content: "\e893";
  font-size: 35px;
  position: relative;
  top:8px;
}

.icon-denglu1:before {
  color: white;
  font-size: 35px;
  content: "\e604";
  position: relative;
  top:8px;
}

.icon-gengduo:before {
  content: "\e68b";
}

