<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/tutor-recommend-system/index.css}">
</head>
<body>

<!--头部-->
<div class="pt-0" style="margin-top: -10px;background: #0b1222;">
    <img src="img/idaLogo1.png" alt="logosa112132122" style="width:10%" class="rounded-circle ml-3"/>
    <img src="img/idaTitle.png" alt="logosa112132122" style="width:15%;height:15%;" class="mt-3"/>
    <a id="avatar" class="position-absolute" style="left: 92%;top: 5%;color: white;" href="dashboard" target="_blank">个人中心</a>
</div>

<!--alert-->
<div class="alert alert-success text-center position-fixed custom-alert"
     role="alert">
    <strong></strong>
</div>

<!--修改个人信息模态框-->
<div id="changeSelfInfoModal"
     class="modal fade"
     tabindex="-1"
     aria-labelledby="changeSelfInfoModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    编辑个人信息
                </h5>
                <button name="closeModalBtn"
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <form id="school-form"
                      class="needs-validation">
                    <!--学号-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="student-id-label">
                            学号
                        </span>
                        </div>
                        <input id="student-id"
                               type="text"
                               class="form-control"
                               aria-label="student-id"
                               aria-describedby="student-id-label"
                               readonly>
                    </div>
                    <!--姓名-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="student-name-label">
                            姓名
                        </span>
                        </div>
                        <input id="student-name"
                               type="text"
                               class="form-control"
                               aria-label="student-name"
                               aria-describedby="student-name-label">
                        <div class="invalid-feedback">
                            请输入姓名
                        </div>
                    </div>
                    <!--性别-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                <span class="input-group-text"
                      id="school-gender-label">性别</span>
                        </div>
                        <select id="school-gender"
                                class="form-control"
                                style="background-position-x: 90%;"
                                aria-label="school-gender"
                                aria-describedby="school-gender-label">
                            <option class="text-black-50" value="" selected disabled>请选择</option>
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择性别
                        </div>
                    </div>
                    <!--密码-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="school-password-label">
                            密码
                        </span>
                        </div>
                        <input id="school-password"
                               type="password"
                               class="form-control"
                               aria-label="school-password"
                               aria-describedby="school-password-label">
                        <div class="invalid-feedback">
                            请输入密码
                        </div>
                    </div>
                    <!--学院-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="college-label">
                            学院
                        </span>
                        </div>
                        <select id="college"
                                class="form-control"
                                style="background-position-x: 90%;"
                                aria-label="college"
                                aria-describedby="college-label">
                            <option class="text-black-50" value="" selected disabled>请选择</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择学院
                        </div>
                    </div>
                    <!--入学年份-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="admission-year-label">
                            入学
                        </span>
                        </div>
                        <select id="admission-year"
                                class="form-control"
                                style="background-position-x: 90%;"
                                aria-label="admission-year"
                                aria-describedby="admission-year-label">
                            <option class="text-black-50" value="" selected disabled>请选择</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择入学时间
                        </div>
                    </div>
                    <!--班级-->
                    <div class="input-group mb-3 has-validation">
                        <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="student-class-label">
                            班级
                        </span>
                        </div>
                        <select id="student-class"
                                class="form-control"
                                style="background-position-x: 90%;"
                                aria-label="student-class"
                                aria-describedby="student-class-label">
                            <option class="text-black-50" value="" selected disabled>请先选择学院和入学年份</option>
                        </select>
                        <div class="invalid-feedback">
                            请选择班级
                        </div>
                    </div>

                    <button id="confirmChangeBtn"
                            class="btn btn-primary"
                            style="width: 100%">
                        确认修改
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--修改个人兴趣爱好模态框-->
<div id="categoryModal"
     class="modal fade"
     tabindex="-1"
     aria-labelledby="categoryModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    修改兴趣方向
                </h5>
                <button name="closeModalBtn"
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="changeDoMainBtn"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">
                    确认
                </button>
            </div>
        </div>
    </div>
</div>

<!--确认退出登录-->
<div id="logoutModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">退出登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>是否退出登录？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="logoutBtn" type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<!--主体-->
<div class="row m-4">
    <!--学生信息-->
    <div id="student-info" class="col-3 mr-5 p-0">
        <div class="pl-3 pr-3 pt-4 pb-4 dashboard-block" style="height: fit-content">
            <div class="text-center mt-2">
                <h3 class="spinner-border text-primary"
                    role="status"
                    style="width: 4rem;height: 4rem;">
                    <span class="sr-only">Loading...</span>
                </h3>
            </div>
        </div>
    </div>
    <!--历史记录/收藏夹/修改密码-->
    <div id="student-browse-list" class="col pl-4 pr-4 pt-3 pb-4 dashboard-block" style="height: fit-content">
        <nav class="nav">
            <a class="nav-link active" id="history" href="javascript:void(0)" style="border-bottom: 3px solid;">
                <strong>历史记录</strong>
            </a>
            <a class="nav-link text-dark" href="javascript:void(0)" id="favorite">
                <strong>收藏列表</strong>
            </a>
        </nav>
        <div id="nav-content" class="mt-3">
            <div class="text-center mt-2">
                <h3 class="spinner-border text-primary"
                    role="status"
                    style="width: 4rem;height: 4rem;">
                    <span class="sr-only">Loading...</span>
                </h3>
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/jquery.animate-shadow-min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/constants.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/utils.js}"></script>

<script type="text/javascript">
    // 获取表单数据
    function getChangeInfo() {
        let studentGenderSelector = $("#school-gender option:selected").attr("value")
        if (isEmpty(studentGenderSelector)) {
            studentGenderSelector = null
        }

        let collegeSelector = $("#college option:selected")
        collegeSelector = isEmpty(collegeSelector.attr("value")) ? null : collegeSelector.text()

        let admissionYearSelector = $("#admission-year option:selected")
        admissionYearSelector = isEmpty(admissionYearSelector.attr("value")) ? null : admissionYearSelector.text()

        let studentClassSelector = $("#student-class option:selected")
        studentClassSelector = isEmpty(studentClassSelector.attr("value")) ? null : studentClassSelector.text()

        return {
            "studentId": $("#student-id").val(),
            "studentName": $("#student-name").val(),
            "studentGender": studentGenderSelector,
            "password": $("#school-password").val(),
            "collegeName": collegeSelector,
            "admissionYear": admissionYearSelector,
            "studentClass": studentClassSelector
        }
    }

    let activeNavLinkIndex = 0
    const urlDict = {
        "history": BASE_URL+"student/history/list",
        "favorite": BASE_URL+"student/favorite/list"
    }

    $(document).ready(function () {
        // form
        let college = $("#college")
        let admissionYear = $("#admission-year")
        let studentClass = $("#student-class")
        // btn
        let confirmChangeBtn = $("#confirmChangeBtn")
        let changeDoMainBtn = $("#changeDoMainBtn")
        let logoutBtn = $("#logoutBtn")
        // alert
        const alertComp = $(".alert")
        const msgComp = $(".alert strong")

        // 阴影动画
        shadowAnimation($("#student-browse-list"))

        // 获取学生信息
        let getStudentInfo = function() {
            $.ajax({
                type: 'GET',
                url: BASE_URL + "student/info",
                dataType: "html",
                headers: getToken(),
                success: res => {
                    try {
                        res = JSON.parse(res)
                        console.error(res)
                        removeToken()
                        window.location.href="login?redirectMsg=" + res.result_msg
                    } catch (e) {
                        $("#student-info").html(res)
                        // 阴影动画
                        shadowAnimation($("#student-info div[class~='dashboard-block']"))
                        // 退出登录
                        $("#logout").click(function () {
                            $("#logoutModal").modal("show")
                        })
                        logoutBtn.click(function () {
                            removeToken()
                            window.location.href="login"
                        })
                        // 模态框填入学生学号
                        $("#changeSelfInfoBtn").click(function () {
                            $("#student-id").attr("value", $("#studentId span").eq(1).text())
                            $("#changeSelfInfoModal").modal("show")
                        })
                        // 获取兴趣爱好
                        $("#moreStudySpeciality").click(function () {
                            // 加载动画
                            $("#categoryModal div .modal-body").html(
                                '<div class="text-center">' +
                                '<h3 class="spinner-border text-primary" role="status" style="width: 4rem;height: 4rem;">' +
                                '<span class="sr-only">Loading...</span>' +
                                '</h3>' +
                                '</div>')
                            $("#categoryModal").modal("show")
                            // 获取该学院教师研究方向
                            $.ajax({
                                type: "GET",
                                url: BASE_URL + "tutor/studySpeciality/search?collegeName="
                                    + $("#collegeName span").eq(1).text(),
                                dataType: "html",
                                success: res => {
                                    try {
                                        res = JSON.parse(res)
                                        console.error(res)
                                    } catch (e) {
                                        $("#categoryModal .modal-body").html(res)
                                        const currStudSpecialityList = $("#studySpeciality span").eq(1).text().split("，")
                                        $("#categoryModal .modal-body button").addClass("mb-3")
                                            .each(function () {
                                                if (currStudSpecialityList.indexOf($(this).text().trim()) >= 0) {
                                                    $(this).addClass("active")
                                                }
                                            }).click(function () {
                                                if ($(this).hasClass("active")) {
                                                    $(this).removeClass("active")
                                                } else {
                                                    $(this).addClass("active")
                                                }
                                            })
                                    }
                                },
                                error: res => {
                                    console.error(res)
                                }
                            })
                        })
                    }
                }
            })
        }
        // 获取历史浏览信息 / 收藏列表
        let getNavContent = function(url, pageNum, pageSize) {
            $.ajax({
                type: 'GET',
                url: url+"?pageNum="+pageNum+"&pageSize="+pageSize,
                dataType: "html",
                headers: getToken(),
                success: res => {
                    try {
                        res = JSON.parse(res)
                        console.error(res)
                        removeToken()
                        window.location.href="login?redirectMsg="+res.result_msg
                    } catch(e) {
                        $("#nav-content").html(res)
                        // 阴影动画
                        shadowAnimation($(".tutor-item"))
                        // 分页查询
                        $(".page-link").click(function () {
                            const pageNum = $(this).attr("name").slice(5)
                            getNavContent(url, pageNum, 5)
                        })
                    }
                }
            })
        }
        // 导航条
        $(".nav .nav-link").click(function () {
            let navLinkList = $(".nav .nav-link")
            const currNavLinkIndex = navLinkList.index(this)
            if (activeNavLinkIndex !== currNavLinkIndex) {
                navLinkList.eq(activeNavLinkIndex)
                    .removeClass("active")
                    .addClass("text-dark")
                    .css("borderBottom", "")
                navLinkList.eq(currNavLinkIndex)
                    .removeClass("text-dark")
                    .addClass("active")
                    .css("borderBottom", "3px solid")
                activeNavLinkIndex = currNavLinkIndex
            }

            const idAttr = navLinkList.eq(activeNavLinkIndex).attr("id")
            getNavContent(urlDict[idAttr], 1, 5)
        })

        getStudentInfo()
        getNavContent(urlDict["history"], 1, 5)

        // 修改学生信息
        confirmChangeBtn.click(function () {
            confirmChangeBtn.attr("disabled", "true")
                .html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
                    '<span class="sr-only">Loading...</span>')
            $.ajax({
                contentType: "application/json",
                type: "PUT",
                url: BASE_URL + "student/update",
                dataType: "json",
                headers: getToken(),
                data: JSON.stringify(getChangeInfo()),
                success: res => {
                    $("#changeSelfInfoModal").modal("hide")
                    getStudentInfo()
                    alertMsg(alertComp, msgComp, "信息修改成功")
                    confirmChangeBtn.html("确认修改").removeAttr("disabled")
                },
                error: res => {
                    console.error(res)
                }
            })
        })

        // 修改兴趣方向
        changeDoMainBtn.click(function () {
            changeDoMainBtn.attr("disabled", "true")
                .html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
                    '<span class="sr-only">Loading...</span>')
            let tempList = []
            $("#categoryModal .modal-body button[class~='active']").each(function () { tempList.push($(this).text()) })
            $.ajax({
                contentType: "application/json",
                type: "PUT",
                url: BASE_URL + "student/update",
                dataType: "json",
                headers: getToken(),
                data: JSON.stringify({"studySpecialityList": tempList}),
                success: res => {
                    $("#categoryModal").modal("hide")
                    getStudentInfo()
                    alertMsg(alertComp, msgComp, "信息修改成功")
                    changeDoMainBtn.html("确认").removeAttr("disabled")
                },
                error: res => {
                    console.error(res)
                }
            })
        })

        // 学院下拉列表
        $.ajax({
            type: "GET",
            url: BASE_URL + "dict/college/list",
            dataType: "json",
            success: res => {
                for (let i = 0; i < res.data.length; i++) {
                    college.append(`<option value="${i}">${res.data[i]}</option>`)
                }
                college.change(function () {
                    getClassNameList()
                })
            },
            error: res => {
                console.error(res)
            }
        })

        // 入学年份下拉列表
        $.ajax({
            type: "GET",
            url: BASE_URL + "dict/admission/list",
            dataType: "json",
            success: res => {
                for (let i = 0; i < res.data.length; i++) {
                    admissionYear.append(`<option value="${i}">${res.data[i]}</option>`)
                }
                admissionYear.change(function () {
                    getClassNameList()
                })
            },
            error: res => {
                console.error(res)
            }
        })

        // 获取班级列表
        function getClassNameList() {
            const selectedAdmissionYear = $("#admission-year option:selected").text()
            const selectedCollege = $("#college option:selected").text()

            if (isEmpty(selectedAdmissionYear) || selectedAdmissionYear === "请选择") {
                return
            }
            if (isEmpty(selectedCollege) || selectedCollege === "请选择") {
                return
            }

            $.ajax({
                type: "GET",
                url: `${BASE_URL}dict/class/search?admissionYear=${selectedAdmissionYear}&collegeName=${selectedCollege}`,
                dataType: "json",
                success: res => {
                    studentClass.html(`<option class="text-black-50" value="" selected disabled>请选择</option>`)
                    for (let i = 0; i < res.data.length; i++) {
                        studentClass.append(`<option value="${i}">${res.data[i]}</option>`)
                    }
                },
                error: res => {
                    console.error(res)
                }
            })
        }

        // 取消收藏
        function deleteFavorite(tutorNeo4jId) {
            $.ajax({
                contentType: 'application/json',
                type: 'DELETE',
                url: BASE_URL+"favorite/delete",
                dataType: "json",
                headers: getToken(),
                data: JSON.stringify(tutorNeo4jId),
                success: res => {
                    if (res.result_code === 0) {
                        alertMsg(alertComp, msgComp, "取消收藏成功")
                        $("#delete"+tutorNeo4jId).fadeOut()
                    }
                    else {
                        alertMsg(alertComp, msgComp, "取消收藏失败")
                    }
                },
                error: res => {
                    alertMsg(alertComp, msgComp, "取消收藏失败")
                }
            })
        }
    })
</script>
</body>
</html>
