<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="commonHeader" style="background: #484393;">
    <div style="background: #484393;">
        <div class="row" style="padding-top: 0px;margin-top: -10px;">
            <img src="/ida/img/idaLogo1.png" alt="logosa112132122" style="cursor: pointer;width:10%" class="rounded-circle ml-3" onclick="window.location='/ida'" />
            <img src="/ida/img/idaTitle.png" alt="logosa112132122" style="cursor: pointer;width:15%;height:15%;margin-top:2%" onclick="window.location='/ida'"/>
            <input id="search" type="text" class="form-control mr-auto" placeholder="Search..." style="width: 41%;margin-left: 20%;margin-top: 3%;"/>
        </div>
    </div>
</footer>

</body>
<script type="text/javascript" src="/ida/js/Header.js"></script>
</html>