<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/tutor-recommend-system/index.css}">
    <style>
        #search-bar-module ul li {
            float: left;
        }

        #search-bar-module a {
            color: #dcdcdc;
        }

        #search-bar-module a:hover {
            color: white;
        }
    </style>
</head>

<body>
    <!--加载动画-->
    <div class="container-fluid" id="loadingDiv"
         style="position: absolute;z-index: 10;background-color:rgba(255,255,255,0.3);width: 100%;height: 100%;display: none">
        <img id="gifImg" src="/ida/img/loading-2.gif" class="text-center"
             style="z-index: 10;position:absolute;top: 52%;left:48%"/>
    </div>

    <!--alert-->
    <div class="alert alert-success text-center position-fixed custom-alert"
         role="alert">
        <strong></strong>
    </div>

    <!--推荐理由模态框-->
    <div class="modal fade"
         id="recommendReasonModal"
         tabindex="-1"
         aria-labelledby="recommendReasonModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel">
                        推荐理由
                    </h5>
                    <button name="closeModalBtn"
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="graph"
                     class="modal-body"
                     style="width: auto;height: 400px;overflow: auto">
                </div>
                <div class="modal-footer">
                    <button name="closeModalBtn"
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!--头部-->
    <div class="pt-0" style="margin-top: -10px;background: #0b1222;">
        <img src="img/idaLogo1.png" alt="logosa112132122" style="width:10%" class="rounded-circle ml-3"/>
        <img src="img/idaTitle.png" alt="logosa112132122" style="width:15%;height:15%;" class="mt-3"/>
        <a id="qa" class="position-absolute" style="right: 29%;top: 5%;color: white;" onclick="qa()">智能问答</a>
        <a id="avatar" class="position-absolute" style="right: 17%;top: 5%;color: white;" href="dashboard" target="_blank">个人中心</a>
        <a class="position-absolute" style="right: 5%;top: 5%;color: white;" href="http://localhost:8080/ida/user/info" target="_blank">个人中心(校外)</a>

    </div>

    <!--搜索框模块-->
    <div id="search-bar-module" style="background: #484393">
        <div class="container" style="padding-top:5%">
<!--        <div class="container">-->
            <!--搜索框-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1 class="font-weight-bold text-center mb-5" style="color: #fff;"><span style="font-size:150%;"><span
                        style="color:yellow">I</span>ntelligent <span style="color:yellow">D</span>ata <span
                        style="color:yellow">A</span>nalysis</span></h1>

                <input id="search" type="text" class="form-control text-center" placeholder="输点什么也许有惊喜"
                       style="width: 80%;margin: 0 auto"/>

                <div class="mt-4" style="color:white">教师画像、找导师、找专家、找项目</div>
            </div>
            <!--功能分类-->
            <div class="mt-5" style="color:white;">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="#">研究领域</a>
                    </li>
                    <span style="margin-top: 7px;">|</span>
                    <li class="nav-item">
                        <a class="nav-link"
                           onclick="jump()"
                           href="#">研究团队</a>
                    </li>
                    <span style="margin-top: 7px;">|</span>
                    <li class="nav-item">
                        <a class="nav-link" href="#">学科分析</a>
                    </li>
                    <span style="margin-top: 7px;">|</span>
                    <li class="nav-item">
                        <a class="nav-link" href="#">成果分析</a>
                    </li>
                    <span style="margin-top: 7px;">|</span>
                    <li class="nav-item">
                        <a class="nav-link" href="#">评价标准</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<img id="gifImg" src="/ida/img/loading.gif" style="z-index: 10;position:absolute;display: none"/>-->
        <br>
    </div>

    <!--导师推荐模块-->
    <div id="tutor-recommend-module">
        <!--推荐列表标题-->
        <div class="text-center">
            <h3 class="d-inline-block" style="margin: 20px 0 0 35px;">
                <svg class="mb-1"
                     viewBox="0 0 1024 1024"
                     xmlns="http://www.w3.org/2000/svg"
                     width="35"
                     height="35">
                    <path d="M897.8 430.1c-20.4-27.2-50.4-45.7-84-51.6l-169.6-11.7 19.1-203.1c3.7-36-24.5-67.4-60.8-67.4H571c-22 0-42.2 11.8-53.1 30.9L376.5 363.6V865c0 5.2-0.8 10.1-2 14.9l391.2 13.4c60.3-0.5 111.2-44.9 119.9-104.6L923.3 530c5.1-35.4-4-71.3-25.5-99.9z" fill="#FFBA3B">
                    </path>
                    <path d="M210.3 819.5l-12.5-388.4c0-33.1 33.9-61.5 73.2-63.3l103.5-1 2-3.3V357c0-33.7-27.4-61.1-61.1-61.1H163.6c-33.7 0-61.1 27.4-61.1 61.1v507.8c0 33.7 27.4 61.1 61.1 61.1h151.8c28.6 0 52.4-19.7 59.1-46.2l-92.7-3.2c-33-0.9-71.5-24-71.5-57z" fill="#FB536C">
                    </path>
                    <path d="M376.5 363.6l-2 3.3-103.5 1c-39.3 1.8-73.2 30.2-73.2 63.3l12.5 388.4c0 33 38.5 56.1 71.4 57.1l92.7 3.2c1.2-4.8 2-9.7 2-14.9V363.6z" fill="#8F3694">
                    </path>
                </svg>
                猜你喜欢的导师
            </h3>
        </div>
        <!--精选 / 各个研究方向-->
        <div class="ml-5">
            <div id="studySpecialityBtnList" class="btn-group-sm mt-3 d-inline-block" role="group" aria-label="researchDirections">
                <button type="button" class="btn btn-outline-primary ml-2 rounded-pill active">导师精选</button>
            </div>

            <!--模式切换按钮-->
            <div class="float-right" style="margin: 15px 45px 0 0;">
                <svg id="block-pattern" class="mr-2 toggle-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
                    <path d="M384 480 96 480C44.8 480 0 435.2 0 384L0 96C0 44.8 44.8 0 96 0L384 0c51.2 0 96 44.8 96 96L480 384C480 435.2 435.2 480 384 480z">
                    </path>
                    <path d="M384 1024 96 1024C44.8 1024 0 979.2 0 928L0 640c0-51.2 44.8-96 96-96L384 544c51.2 0 96 44.8 96 96l0 281.6C480 979.2 435.2 1024 384 1024z">
                    </path>
                    <path d="M787.2 1024 787.2 1024c-134.4 0-243.2-108.8-243.2-236.8l0 0c0-134.4 108.8-236.8 236.8-236.8l0 0c134.4 0 236.8 108.8 236.8 236.8l0 0C1024 915.2 915.2 1024 787.2 1024z">
                    </path>
                    <path d="M928 480 640 480C588.8 480 544 435.2 544 384L544 96C544 44.8 588.8 0 640 0l281.6 0C979.2 0 1024 44.8 1024 96L1024 384C1024 435.2 979.2 480 928 480z">
                    </path>
                </svg>
                <svg id="item-pattern" class="toggle-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
                    <path d="M192 224c0 35.36-28.64 64-64 64L64 288C28.64 288 0 259.36 0 224L0 160c0-35.36 28.64-64 64-64l64 0c35.36 0 64 28.64 64 64L192 224z">
                    </path>
                    <path d="M192 544c0 35.328-28.64 64-64 64L64 608c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l64 0c35.36 0 64 28.64 64 64L192 544z">
                    </path>
                    <path d="M192 864c0 35.328-28.64 64-64 64L64 928c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l64 0c35.36 0 64 28.64 64 64L192 864z">
                    </path>
                    <path d="M1024 224c0 35.36-28.64 64-64 64L384 288c-35.36 0-64-28.64-64-64L320 160c0-35.36 28.64-64 64-64l576 0c35.36 0 64 28.64 64 64L1024 224z">
                    </path>
                    <path d="M1024 544c0 35.328-28.64 64-64 64L384 608c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l576 0c35.36 0 64 28.64 64 64L1024 544z">
                    </path>
                    <path d="M1024 864c0 35.328-28.64 64-64 64L384 928c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l576 0c35.36 0 64 28.64 64 64L1024 864z">
                    </path>
                </svg>
            </div>
        </div>
        <!--推荐列表-->
        <div id="recommend-tutor-list" class="ml-5 mb-4">
            <div class="text-center mt-4">
                <h3 class="spinner-border text-primary"
                    role="status"
                    style="position: relative;width: 4rem;height: 4rem;">
                    <span class="sr-only">Loading...</span>
                </h3>
            </div>
        </div>
    </div>

    <hr>
    <br>

    <!--!!!!!科研成果推荐模块-->
    <div class="text-center">
        <h3 class="d-inline-block" style="margin: 20px 0 0 35px;">
            <svg class="mb-1"
                 viewBox="0 0 1024 1024"
                 xmlns="http://www.w3.org/2000/svg"
                 width="35"
                 height="35">
                <path d="M897.8 430.1c-20.4-27.2-50.4-45.7-84-51.6l-169.6-11.7 19.1-203.1c3.7-36-24.5-67.4-60.8-67.4H571c-22 0-42.2 11.8-53.1 30.9L376.5 363.6V865c0 5.2-0.8 10.1-2 14.9l391.2 13.4c60.3-0.5 111.2-44.9 119.9-104.6L923.3 530c5.1-35.4-4-71.3-25.5-99.9z" fill="#FFBA3B">
                </path>
                <path d="M210.3 819.5l-12.5-388.4c0-33.1 33.9-61.5 73.2-63.3l103.5-1 2-3.3V357c0-33.7-27.4-61.1-61.1-61.1H163.6c-33.7 0-61.1 27.4-61.1 61.1v507.8c0 33.7 27.4 61.1 61.1 61.1h151.8c28.6 0 52.4-19.7 59.1-46.2l-92.7-3.2c-33-0.9-71.5-24-71.5-57z" fill="#FB536C">
                </path>
                <path d="M376.5 363.6l-2 3.3-103.5 1c-39.3 1.8-73.2 30.2-73.2 63.3l12.5 388.4c0 33 38.5 56.1 71.4 57.1l92.7 3.2c1.2-4.8 2-9.7 2-14.9V363.6z" fill="#8F3694">
                </path>
            </svg>
            猜你喜欢的科研成果
        </h3>
    </div>
    <!--!!!!!主体-->
    <div class="container mt-1 pt-1">
        <div class="tab-content">

            <!--导航条 切换Article/Patent/horizontalProject-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link disabled" style="background: #0081ff;color: #ffffff">推荐成果</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="articleInfo" onclick="toArticle()" data-toggle="tab" href="#articleInfoContent">论文</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="patentInfo" onclick="toPatent()" data-toggle="tab" href="#patentInfoContent">专利</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="horizontalProjectInfo" onclick="toProject()" data-toggle="tab" href="#horizontalProjectInfoContent">横向项目</a>
                </li>
            </ul>

            <!--论文信息列表-->
            <div id="articleInfoContent" class="container tab-pane active">
                <h5><small style="font-size: 70%">推荐您可能感兴趣的top20篇论文</small></h5>
            </div>

            <!--专利信息列表-->
            <div id="patentInfoContent" class="container tab-pane fade">
                <h5><small style="font-size: 70%">推荐您可能感兴趣的top20篇专利</small></h5>
            </div>

            <!--横向项目信息列表-->
            <div id="horizontalProjectInfoContent" class="container tab-pane fade">
                <h5><small style="font-size: 70%">推荐您可能感兴趣的top20横向项目</small></h5>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{js/echarts.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/jquery.animate-shadow-min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/constants.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/utils.js}"></script>
<script type="text/javascript">
    let myChart
    let recommendPageNum = 1
    let activeBtnIndex = 0
    let isBlock = true

    $(document).ready(function () {
        $("#search").on("keypress", function (event) {
            var inputValue = $("#search").val()
            if (event.keyCode === 13) {
                $("#search").blur();
                document.getElementById("loadingDiv").style.display = "block"
                location.href = "all/findallbyanywords?words=" + inputValue;
            }
        })

        // 导师推荐系统 —— 模式切换按钮
        let blockPattern = $("#block-pattern")
        let itemPattern = $("#item-pattern")

        blockPattern.css("fill", "#007bff")
            .css("boxShadow", "0 0 4px 0px #6b6b6b")
        itemPattern.css("fill", "#6b6b6b")

        // 导师推荐系统 —— 模式切换
        blockPattern.click(function () {
            if (isBlock) {
                return
            }

            isBlock = true
            // 改变模式按钮样式
            $(this).css("fill", "#007bff")
                .css("boxShadow", "0 0 4px 0px #6b6b6b")
            itemPattern.css("fill", "#6b6b6b")
                .css("boxShadow", "")
            // 改变标签样式
            $(".badge").addClass("custom-badge")
            // 推荐列表
            let itemList = $(".recommend-tutor")
            itemList.css({"width": "30.7%", "display": "none"})
            itemList.each(function() {
                $("p:gt(0):lt(4)", this).css("display", "")
                    .removeClass("mr-5")
                $("p:gt(4)", this).css("display", "none")
            })
            // 淡入
            itemListFadeIn(itemList, {"display": "inline-block"})
            // 发现更多按钮
            $("#nextRecommendPageButton").css("width", "10%")
        })
        itemPattern.click(function () {
            if (!isBlock) {
                return
            }

            isBlock = false
            // 改变模式按钮样式
            $(this).css("fill", "#007bff")
                .css("boxShadow", "0 0 4px 0px #6b6b6b")
            blockPattern.css("fill", "#6b6b6b")
                .css("boxShadow", "")
            // 改变标签样式
            $(".badge").removeClass("custom-badge")
            // 推荐列表
            let itemList = $(".recommend-tutor")
            itemList.css({"width": "97%", "display": "none"})
            itemList.each(function() {
                $("p:gt(0):lt(4)", this).css("display", "inline-block")
                    .addClass("mr-5")
                $("p:gt(4)", this).css("display", "")
            })
            // 淡入
            itemListFadeIn(itemList, {"display": "inline-block"})
            // 发现更多按钮
            $("#nextRecommendPageButton").css("width", "97%")
        })

        // 导师推荐系统 —— 获取推荐列表
        getRecommendList()

        // 导师推荐系统 —— 获取推荐列表的标签
        getTutorStudySpecialityList()

        // 导师推荐系统 —— 销毁关系图
        $("[name='closeModalBtn']").click(function () {
            if (!isEmpty(myChart) && !myChart.isDisposed()) {
                myChart.dispose()
            }
        })
    })
    function jump(){
        window.location.href="Community_wmk/";
    }
    // 导师推荐系统 —— 获取推荐列表
    function getRecommendList() {
        $.ajax({
            type: 'GET',
            url: BASE_URL+"recommend/search?pageNum=1&pageSize=5",
            dataType: "html",
            headers: getToken(),
            success: res => {
                try {
                    res = JSON.parse(res)
                    console.error(res)
                } catch (e) {
                    $("#recommend-tutor-list").html(res)
                    // 显示header的头像
                    $("#avatar").css("display", "")

                    let itemList = $(".recommend-tutor")
                    // 查找相似按钮淡入淡出动画
                    fadeAnimation(itemList, ".relative-btn")
                    // 列表淡入
                    itemListFadeIn(itemList, {"display": "inline-block"})
                    // 阴影动画
                    shadowAnimation(itemList)
                }
            },
            error: res => {
                console.error(res)
            }
        })
    }

    // 导师推荐系统 —— 获取导师研究方向标签列表
    function getTutorStudySpecialityList() {
        $.ajax({
            type: 'GET',
            url: BASE_URL+"recommend/label/list",
            dataType: "html",
            headers: getToken(),
            success: res => {
                try {
                    res = JSON.parse(res)
                    console.error(res)
                } catch (e) {
                    $(".btn-group-sm").append(res)

                    // 推荐列表筛选
                    $(".btn-group-sm button").click(function () {
                        let studySpecialityBtnList = $("#studySpecialityBtnList button")
                        let currActiveBtnIndex = studySpecialityBtnList.index(this)
                        if (activeBtnIndex === currActiveBtnIndex) {
                            return
                        }
                        studySpecialityBtnList.eq(activeBtnIndex).removeClass("active")
                        $(this).addClass("active")
                        activeBtnIndex = currActiveBtnIndex

                        let studySpeciality = ""
                        if (activeBtnIndex !== 0) {
                            studySpeciality = $(this).text()
                        }
                        $.ajax({
                            type: 'GET',
                            url: BASE_URL+"recommend/search?pageNum=1&pageSize=5&studySpeciality=" + studySpeciality,
                            dataType: "html",
                            headers: getToken(),
                            success: res => {
                                try {
                                    res = JSON.parse(res)
                                    console.error(res)
                                } catch (e) {
                                    $("#recommend-tutor-list").html(res)

                                    let itemList = $(".recommend-tutor")
                                    if (!isBlock) {
                                        itemList.css({"width": "97%"})
                                        itemList.each(function() {
                                            $(".badge", this).removeClass("custom-badge")
                                            $("p:gt(0):lt(4)", this).css("display", "inline-block")
                                                .addClass("mr-5")
                                            $("p:gt(4)", this).css("display", "")
                                        })
                                        $("#nextRecommendPageButton").css("width", "97%")
                                    }

                                    // 查找相似按钮淡入淡出动画
                                    fadeAnimation(itemList, ".relative-btn")
                                    // 淡入
                                    itemListFadeIn(itemList, {"display": "inline-block"})
                                    // 阴影动画
                                    shadowAnimation(itemList)

                                    recommendPageNum = 1
                                }
                            },
                            error: res => {
                                console.error(res)
                            }
                        })
                    })
                }
            },
            error: res => {
                console.error(res)
            }
        })
    }

    // 导师推荐系统 —— 添加历史记录
    function addCF(tutorNeo4jId) {
        if (hasToken()) {
            $.ajax({
                contentType: 'application/json',
                type: 'POST',
                url: BASE_URL+"cf/add",
                dataType: "json",
                headers: getToken(),
                data: JSON.stringify(tutorNeo4jId),
                success: res => {
                    if (res.result_code !== 0) {
                        removeToken()
                    }
                }
            })
        }
    }

    // 导师推荐系统 —— 收藏
    function addFavorite(tutorNeo4jId) {
        // alert
        const alertComp = $(".alert")
        const msgComp = $(".alert strong")
        $.ajax({
            contentType: 'application/json',
            type: 'POST',
            url: BASE_URL+"favorite/add",
            dataType: "json",
            headers: getToken(),
            data: JSON.stringify(tutorNeo4jId),
            success: res => {
                if (res.result_code === 0) {
                    alertMsg(alertComp, msgComp, "收藏成功")
                    $("#add"+tutorNeo4jId).removeClass("d-none")
                    $("#delete"+tutorNeo4jId).addClass("d-none")
                }
                else {
                    alertMsg(alertComp, msgComp, "收藏失败")
                }
            },
            error: res => {
                alertMsg(alertComp, msgComp, "收藏失败")
            }
        })
    }

    // 导师推荐系统 —— 取消收藏
    function deleteFavorite(tutorNeo4jId) {
        // alert
        const alertComp = $(".alert")
        const msgComp = $(".alert strong")
        $.ajax({
            contentType: 'application/json',
            type: 'DELETE',
            url: BASE_URL+"favorite/delete",
            dataType: "json",
            headers: getToken(),
            data: JSON.stringify(tutorNeo4jId),
            success: res => {
                if (res.result_code === 0) {
                    alertMsg(alertComp, msgComp, "取消收藏成功")
                    $("#add"+tutorNeo4jId).addClass("d-none")
                    $("#delete"+tutorNeo4jId).removeClass("d-none")
                }
                else {
                    alertMsg(alertComp, msgComp, "取消收藏失败")
                }
            },
            error: res => {
                alertMsg(alertComp, msgComp, "取消收藏失败")
            }
        })
    }

    // 导师推荐系统 —— 推荐理由
    function getRecommendReason(tutorNeo4jId) {
        $.ajax({
            type: 'GET',
            url: BASE_URL+"recommend/reason?neo4jId="+tutorNeo4jId,
            dataType: "json",
            headers: getToken(),
            success: res => {
                let graph = $("#graph")
                if (isEmpty(res.data)) {
                    graph.text("无推荐理由")
                }
                // 若存在链路，绘制关系图
                if (!isEmpty(res.data.links)) {
                    res.data.links.forEach(function (link) {
                        link.value = RELATION_TYPE[link.value]
                    })
                    drawGraph(res.data.data, res.data.links)
                } else {
                    graph.html("")
                    for (let i = 0; i < res.data.data.length; i++) {
                        graph.append(
                            '<div class="card mb-3">\n' +
                            '  <div class="card-body">\n' +
                            '    <h5 class="card-title">' + res.data.data[i].name + '</h5>\n' +
                            '    <h6 class="card-subtitle mb-2 text-muted">' + res.data.data[i].cn_name + '</h6>\n' +
                            '    <a class="card-link float-right">已发表' + res.data.data[i].count_a + '篇</a>\n' +
                            '  </div>\n' +
                            '</div>')
                    }
                }
            },
            error: res => {
                console.error(res)
            }
        })
    }

    // 导师推荐系统 —— 绘制图结构
    function drawGraph(data, links) {
        if (!isEmpty(myChart) && !myChart.isDisposed()) {
            //销毁
            myChart.dispose()
        }

        let chartDom = document.getElementById('graph')
        myChart = echarts.init(chartDom)
        let option

        option = {
            tooltip: {},
            legend: [{
                data: ENTITY_TYPE.map(function (a) {
                    return a.name
                })
            }],
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 45,
                    focusNodeAdjacency: true,
                    roam: true,
                    edgeSymbol: ['none', 'arrow'],
                    label: {
                        normal: {
                            show: true,
                            textStyle: {
                                fontSize: 12,
                            },
                        }
                    },
                    force: {
                        repulsion: 2000
                    },
                    edgeSymbolSize: [4, 10],
                    edgeLabel: {
                        normal: {
                            show: true,
                            textStyle: {
                                fontSize: 10
                            },
                            formatter: '{c}'
                        }
                    },
                    categories: ENTITY_TYPE,
                    data: data,
                    links: links,
                    lineStyle: {
                        opacity: 0.9,
                        width: 2
                    }
                }
            ]
        };

        option && myChart.setOption(option)
    }

    // 导师推荐系统 —— 发现更多
    function nextRecommendPage() {
        let studySpeciality = ""
        if (activeBtnIndex !== 0) {
            studySpeciality = $("#studySpecialityBtnList button").eq(activeBtnIndex).text()
        }
        $.ajax({
            type: 'GET',
            url: BASE_URL+"recommend/search?pageNum="+(recommendPageNum+1)+"&pageSize=5&studySpeciality=" + studySpeciality,
            dataType: "html",
            headers: getToken(),
            success: res => {
                try {
                    res = JSON.parse(res)
                    console.error(res)
                } catch (e) {
                    $("#nextRecommendPageButton").remove()
                    $("#recommend-tutor-list").append(res)

                    let itemList = $(".recommend-tutor").slice(recommendPageNum*5)
                    if (!isBlock) {
                        itemList.css({"width": "97%"})
                        itemList.each(function() {
                            $(".badge", this).removeClass("custom-badge")
                            $("p:gt(0):lt(4)", this).css("display", "inline-block")
                                .addClass("mr-5")
                            $("p:gt(4)", this).css("display", "")
                        })
                        $("#nextRecommendPageButton").css("width", "97%")
                    }

                    // 查找相似按钮淡入淡出动画
                    fadeAnimation(itemList, ".relative-btn")
                    // 淡入
                    itemListFadeIn(itemList, {"display": "inline-block"})
                    // 阴影动画
                    shadowAnimation(itemList)

                    recommendPageNum++
                }
            },
            error: res => {
                console.error(res)
            }
        })
    }
</script>
<script type="text/javascript">

    function qa() {
        var url = 'http://10.12.45.59:8010/index';                             //转向网页的地址;(这里就是填写第三方工具给的链接)
        var name = '智能问答';                    //网页名称，可为空;
        var iWidth = 400;                          //弹出窗口的宽度;
        var iHeight = 600;                         //弹出窗口的高度;
        //获得窗口的垂直位置
        var iTop = (window.screen.availHeight - iHeight - 100);
        //获得窗口的水平位置
        var iLeft = (window.screen.availWidth - iWidth - 100);
        window.open(url, name, 'height=' + iHeight + ',,innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',status=no,toolbar=no,menubar=no,location=no,resizable=no,scrollbars=0,titlebar=no');
    }

    $(function() {
        $.ajax({
            url: "http://localhost:8080/ida/recommend/recommendList",
            type: "post",
            dataType: "json",
            traditional: true,
            // cache: false,
            async: false,
            success: function (data) {
                var str1 =''
                var str2 =''
                var str3 =''
                var str = ''

                console.log(data);
                console.log(data.length);
                if(data.length == 1) {
                    str += '<h5 style="text-align: center">' + "还没有检测到你的喜爱哦！请先注册或登录！" + '</h5>';
                    str += '<div  style="margin-left: 50%">' + '<button onclick="jumpToLogin() " class="btn btn-outline-primary ml-2">' + "登录/注册" + '</button>' + '</div>';
                }
                for(var i = 0; i < data.length; i++) {
                    console.log(data[i].label);
                    //Article
                    if(i < 20) {
                        if(data[i].title != "") {
                            str1 += '<div class="container-fluid card mt-2">';
                            str1 += '<div class="media px-2 py-2">';
                            str1 += '<div class="media-body p-3" style="font-size: 90%;">';
                            //标题栏
                            str1 += '<div class="row">';
                            str1 += '<h5>';
                            str1 += '<a href="#" style="font-size: 80%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:1;">';
                            str1 += data[i].title;
                            str1 += '</a>';
                            str1 += '</h5>';
                            str1 += '</div>';

                            //作者
                            str1 += '<div class="row">';
                            str1 += '<span style="color:green;">';
                            str1 += '作者：' + data[i].partner;
                            str1 += '</span>';

                            //年份
                            str1 += '<h5 class="ml-auto"><span class="ml-auto text-right">';
                            str1 += data[i].year;
                            str1 += '</span></h5>';
                            str1 += '</div>';

                            //关键词
                            if(data[i].keyword != null) {
                                str1 += '<div class="row">';
                                str1 += '<span style="overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:1;">';;
                                str1 += '关键词：' + data[i].keyword;
                                str1 += '</span>';
                                str1 += "</div>";
                            }

                            //引用量
                            str1 += '<div class="row">';
                            str1 += '引用量：' + data[i].citeCount;
                            str1 += '</div>';

                            str1 += '</div>';
                            str1 += '</div>';
                            str1 += '</div>'
                        }
                    }

                    //Patent
                    else if(i>=20 && i <40) {
                        console.log(data[i].title);
                        if(data[i].title != "") {
                            str2 += '<div class="container-fluid card mt-2">';
                            str2 += '<div class="media px-2 py-2">';
                            str2 += '<div class="media-body p-3" style="font-size: 90%;">';
                            //标题栏
                            str2 += '<div class="row">';
                            str2 += '<h5>';
                            str2 += '<a href="#" style="font-size: 80%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:1;">';
                            str2 += data[i].title;
                            str2 += '</a>';
                            str2 += '</h5>';
                            //年份
                            str2 += '<span class="ml-auto">';
                            str2 += data[i].year;
                            str2 += '</span>';
                            str2 += '</div>';

                            //发明人、类型、状态
                            str2 += '<div class="row">';
                            str2 += '<span>' + '发明人：' + data[i].partner + '</span>';
                            str2 += '<span class="badge badge-pill badge-success">' + data[i].type + '</span>';
                            if(data[i].state != null)
                                str2 += '<span class="badge badge-pill badge-info">' + data[i].state + '</span>';
                            str2 += '</div>';

                            //专利权人
                            str2 += '<div class="row">';
                            str2 += '专利权人：' + data[i].applicant;
                            str2 += '<span class="ml-auto">';
                            str2 += data[i].organization;
                            str2 += '</span>';
                            str2 += '</div>';

                            str2 += '</div>';
                            str2 += '</div>';
                            str2 += '</div>';
                        }
                    }

                    else if(i < 60) {
                        console.log(data[i].title);
                        if (data[i].title != null && data[i].title != "") {
                            str3 += '<div class="container-fluid card mt-2">';
                            str3 += '<div class="media px-2 py-2">';
                            str3 += '<div class="media-body p-3" style="font-size: 90%;">';


                            //标题、批准日期
                            str3 += '<div class="row">';
                            str3 += '<h5>';
                            str3 += '<a href="#" style="font-size: 80%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:1;">';
                            str3 += data[i].title;
                            str3 += '</a>';
                            str3 += '</h5>';
                            str3 += '<span class="ml-auto">' + data[i].year + '</span>';
                            str3 += '</div>';

                            //领导人、nature、地域、计划经费
                            str3 += '<div class="row">';
                            str3 += '<span>' + '项目负责人：' + data[i].partner;
                            str3 += '<span  class="badge badge-pill badge-success">' + data[i].nature + '</span>';
                            str3 += '<span class="badge badge-pill badge-info">' + data[i].area + '</span>';
                            str3 += '</span>';
                            if (data[i].planedMoney != null) {
                                str3 += '<h5 class="ml-auto">';
                                str3 += '<span class="ml-auto text-right">' + '项目经费：' + data[i].planedMoney + '万' + '</span>';
                                str3 += '</h5>';
                            }
                            str3 += '</div>';

                            //老板、机构
                            str3 += '<div class="row">';
                            str3 += '项目来源：' + data[i].boss;
                            str3 += '<span class="ml-auto">' + data[i].organization + '</span>';
                            str3 += '</div>';

                            str3 += '</div>';
                            str3 += '</div>';
                            str3 += '</div>';
                        }
                    }
                }
                $("#articleInfoContent").append(str);
                $("#articleInfoContent").append(str1);
                $("#patentInfoContent").append(str2);
                $("#horizontalProjectInfoContent").append(str3);
            }
        })
    })

    // //网页加载时，默认加载论文栏

    function toArticle() {
        document.getElementById("#patentInfoContent").classList.remove("active");
        document.getElementById("#horizontalProjectInfoContent").classList.remove("active");
        document.getElementById("#articleInfoContent").classList.add("active");
    }

    function toPatent() {
        document.getElementById("#patentInfoContent").classList.add("active");
        document.getElementById("#articleInfoContent").classList.remove("active");
        document.getElementById("#horizontalProjectInfoContent").classList.remove("active");
    }

    function toProject() {
        document.getElementById("#horizontalProjectInfoContent").classList.add("active");
        document.getElementById("#patentInfoContent").classList.remove("active");
        document.getElementById("#articleInfoContent").classList.remove("active");
    }
    
    function jumpToLogin() {
        window.location.href = 'http://localhost:8080/ida/login';
    }
</script>
</html>
