<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/tutor-recommend-system/index.css}">
    <script type="text/javascript" src="/ida/js/idahostaddress.js"></script>
</head>
<body style="background-image: url(img/loginBackground.png)">

<!--头部-->
<div class="pt-0" style="margin-top: -10px;background: #0b1222;">
    <img src="img/idaLogo1.png" alt="logosa112132122" style="width:10%" class="rounded-circle ml-3"/>
    <img src="img/idaTitle.png" alt="logosa112132122" style="width:15%;height:15%;" class="mt-3"/>
    <a id="avatar" class="position-absolute" style="left: 92%;top: 5%;color: white;" href="dashboard" target="_blank">个人中心</a>
    <a id="loginoutside" class="position-absolute" style="left: 80%;top: 5%;color: white;" target="_blank">个人中心(校外)</a>
    <a class="position-absolute" style="left: 75%;top: 5%;color: white;" href="/ida">首页</a>
</div>

<!--alert-->
<div class="alert alert-warning text-center position-absolute custom-alert"
     role="alert">
    <strong></strong>
</div>

<!--主体-->
<div class="container mt-4 ml-5">
    <div class="row">
        <img class="col-8"
             src="img/socialNetwork.png"
             alt="网络图">
        <form id="login-form"
              class="h-100 bg-white rounded-lg col-4"
              style="padding: 20px 30px;box-shadow: 0 0 10px 5px rgba(120, 120, 120, 0.1);top: 150px;left: 10%;">
            <p class="text-center"
               style="font-size: x-large;">
                智能数据分析平台
            </p>
            <!--校内和校外-->
            <nav class="nav mb-3">
                <a class="nav-link active" id="school" href="javascript:void(0)" style="border-bottom: 3px solid;">
                    <strong>校内</strong>
                </a>
                <a class="nav-link text-dark" href="javascript:void(0)" id="nonSchool">
                    <strong>校外</strong>
                </a>
            </nav>
            <!--校内和校外表单-->
            <div id="school-form">
                <input id="studentId"
                       class="form-control mt-1 mb-3"
                       placeholder="学号"/>
                <input id="school-password"
                       class="form-control mb-3"
                       type="password"
                       placeholder="密码"/>
                <button id="school-login-Btn"
                        class="btn btn-primary"
                        style="width: 100%"
                        type="button">
                    登录
                </button>
            </div>
            <!--!!!!!校外登录-->
            <div id="non-school-form" style="display: none">
                <input id="non-school-username"
                       class="form-control mt-1 mb-3"
                       placeholder="用户名"/>
                <input id="non-school-password"
                       class="form-control mb-3"
                       type="password"
                       placeholder="密码"/>
                <a id="non-school-login-Btn"  class="btn btn-primary" style="width: 100%" type="button" onclick="Login()">登录</a>
            </div>
            <a class="btn btn-sm float-left text-primary pl-0 d-inline-block"
               href="#">
                忘记密码
            </a>
            <a class="btn btn-sm float-right text-primary pr-0"
               href="register">
                立即注册
            </a>
        </form>
    </div>
</div>

<!--尾部-->
<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/jquery.animate-shadow-min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/constants.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/utils.js}"></script>

<script type="text/javascript">
    let activeNavLinkIndex = 0

    function getSchoolLoginData() {
        return {
            "studentId": $("#studentId").val(),
            "password": $("#school-password").val()
        }
    }

    $(document).ready(function () {

        $("#loginoutside").attr("href","http://"+idahostaddress+":8080/ida/user/info")
        $("#non-school-login-Btn").attr("href","http://"+idahostaddress+":8080/ida")


        // alert
        const alertComp = $(".alert")
        const msgComp = $(".alert strong")
        const redirectMsg = "[[${redirectMsg}]]"

        if (!isEmpty(redirectMsg)) {
            alertMsg(alertComp, msgComp, redirectMsg)
        }

        // 导航条
        $(".nav .nav-link").click(function () {
            let navLinkList = $(".nav .nav-link")
            const currNavLinkIndex = navLinkList.index(this)
            if (activeNavLinkIndex !== currNavLinkIndex) {
                navLinkList.eq(activeNavLinkIndex)
                    .removeClass("active")
                    .addClass("text-dark")
                    .css("borderBottom", "")
                navLinkList.eq(currNavLinkIndex)
                    .removeClass("text-dark")
                    .addClass("active")
                    .css("borderBottom", "3px solid")
                activeNavLinkIndex = currNavLinkIndex

                if (activeNavLinkIndex === 0) {
                    $("#school-form").css("display", "")
                    $("#non-school-form").css("display", "none")
                } else {
                    $("#school-form").css("display", "none")
                    $("#non-school-form").css("display", "")
                }
            }
        })

        // 登录
        $("#school-login-Btn").click(function () {
            $(this).attr("disabled", "true")
                   .html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
                         '<span class="sr-only">Loading...</span>')
            $.ajax({
                contentType: 'application/json',
                type: 'POST',
                url: BASE_URL+"student/login",
                dataType: "json",
                data: JSON.stringify(getSchoolLoginData()),
                success: res => {
                    if (res.result_code === 0) {
                        setToken(res.data.token)
                        setTokenUser(res.data.user)
                        window.location.href="/ida"
                    } else {
                        alertMsg(alertComp, msgComp, res.result_msg)
                    }
                },
                error: res => {
                    alertMsg(alertComp, msgComp, res)
                }
            })
        })
    })
</script>
<script type="text/javascript">
    function Login() {
        var obj={};
        obj.username=$("#non-school-username").val();
        obj.password=$("#non-school-password").val();

        var description = "";
        for(var i in obj){
            var property=obj[i];
            description+=i+" = "+property+"\n";
        }
        console.log(description);

        $.ajax({
            type: "POST",
            url: "http://"+idahostaddress+":8080/ida/user/login",
            dataType: "json",
            data:JSON.stringify(obj),
            contentType : "application/json",
            success: function (data) {
                console.log(data);
                window.location.href="http://"+idahostaddress+":8080/ida"
            },
            error: function (e) {
                console.log(e);
            }
        })
    }
</script>
</body>
</html>
