<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>相似导师</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/tutor-recommend-system/index.css}">
</head>
<body style="background-color: #f6f6f6">

<!--头部-->
<div class="pt-0" style="margin-top: -10px;background: #0b1222;">
    <img src="img/idaLogo1.png" alt="logosa112132122" style="width:10%" class="rounded-circle ml-3"/>
    <img src="img/idaTitle.png" alt="logosa112132122" style="width:15%;height:15%;" class="mt-3"/>
    <a id="avatar" class="position-absolute" style="left: 92%;top: 5%;color: white;" href="dashboard" target="_blank">个人中心</a>
</div>

<!--alert-->
<div class="alert alert-success"
     role="alert"
     style="width: 30%;text-align: center;position: fixed;left: 35%;top: 3.5%;display: none">
    <strong></strong>
</div>

<!--原始导师信息-->
<div id="original-tutor"
     style="background-color: white">
</div>

<div style="margin-left: 36px;">
    <h3 class="d-inline-block pt-4">
        相似导师推荐
    </h3>

    <!--模式切换按钮-->
    <div class="float-right" style="margin: 30px 45px 0 0;">
        <svg id="block-pattern" class="mr-2 toggle-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
            <path d="M384 480 96 480C44.8 480 0 435.2 0 384L0 96C0 44.8 44.8 0 96 0L384 0c51.2 0 96 44.8 96 96L480 384C480 435.2 435.2 480 384 480z">
            </path>
            <path d="M384 1024 96 1024C44.8 1024 0 979.2 0 928L0 640c0-51.2 44.8-96 96-96L384 544c51.2 0 96 44.8 96 96l0 281.6C480 979.2 435.2 1024 384 1024z">
            </path>
            <path d="M787.2 1024 787.2 1024c-134.4 0-243.2-108.8-243.2-236.8l0 0c0-134.4 108.8-236.8 236.8-236.8l0 0c134.4 0 236.8 108.8 236.8 236.8l0 0C1024 915.2 915.2 1024 787.2 1024z">
            </path>
            <path d="M928 480 640 480C588.8 480 544 435.2 544 384L544 96C544 44.8 588.8 0 640 0l281.6 0C979.2 0 1024 44.8 1024 96L1024 384C1024 435.2 979.2 480 928 480z">
            </path>
        </svg>
        <svg id="item-pattern" class="toggle-icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="25" height="25">
            <path d="M192 224c0 35.36-28.64 64-64 64L64 288C28.64 288 0 259.36 0 224L0 160c0-35.36 28.64-64 64-64l64 0c35.36 0 64 28.64 64 64L192 224z">
            </path>
            <path d="M192 544c0 35.328-28.64 64-64 64L64 608c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l64 0c35.36 0 64 28.64 64 64L192 544z">
            </path>
            <path d="M192 864c0 35.328-28.64 64-64 64L64 928c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l64 0c35.36 0 64 28.64 64 64L192 864z">
            </path>
            <path d="M1024 224c0 35.36-28.64 64-64 64L384 288c-35.36 0-64-28.64-64-64L320 160c0-35.36 28.64-64 64-64l576 0c35.36 0 64 28.64 64 64L1024 224z">
            </path>
            <path d="M1024 544c0 35.328-28.64 64-64 64L384 608c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l576 0c35.36 0 64 28.64 64 64L1024 544z">
            </path>
            <path d="M1024 864c0 35.328-28.64 64-64 64L384 928c-35.36 0-64-28.672-64-64l0-64c0-35.36 28.64-64 64-64l576 0c35.36 0 64 28.64 64 64L1024 864z">
            </path>
        </svg>
    </div>
</div>

<!--相似列表-->
<div id="relative-tutor-list" class="float-left w-100">
    <div class="text-center">
        <h3 class="spinner-border text-primary"
            role="status"
            style="position: relative;top: 50px;width: 4rem;height: 4rem;">
            <span class="sr-only">Loading...</span>
        </h3>
    </div>
</div>

<!--尾部-->
<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/jquery.animate-shadow-min.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/constants.js}"></script>
<script type="text/javascript" th:src="@{js/tutor-recommend-system/utils.js}"></script>

<script type="text/javascript">
    let isBlock = true

    $(document).ready(function () {
        // 模式切换按钮
        let blockPattern = $("#block-pattern")
        let itemPattern = $("#item-pattern")

        blockPattern.css("fill", "#007bff")
            .css("boxShadow", "0 0 4px 0px #6b6b6b")
        itemPattern.css("fill", "#6b6b6b")

        // 获取原导师信息
        $.ajax({
            type: 'GET',
            url: BASE_URL+"tutor/detail?tutorNeo4jId="+[[${tutorNeo4jId}]],
            dataType: "html",
            headers: getToken(),
            success: res => {
                try {
                    res = JSON.parse(res)
                    console.error(res)
                } catch (e) {
                    $("#original-tutor").html(res)
                    // 阴影动画
                    shadowAnimation($("#original-tutor div"))
                }
            },
            error: res => {
                console.error(res)
            }
        })

        // 获取相似导师
        $.ajax({
            type: 'GET',
            url: BASE_URL+"recommend/relative?tutorNeo4jId="+[[${tutorNeo4jId}]],
            dataType: "html",
            headers: getToken(),
            success: res => {
                try {
                    res = JSON.parse(res)
                    console.error(res)
                } catch (e) {
                    $("#relative-tutor-list").html(res)
                    // 显示header的头像
                    $("#avatar").css("display", "")

                    let itemList = $(".relative-tutor")
                    // 淡入
                    itemListFadeIn(itemList, {"display": "inline-block"})
                    // 阴影动画
                    shadowAnimation(itemList)
                }
            },
            error: res => {
                console.error(res)
            }
        })

        // 模式切换
        blockPattern.click(function () {
            if (isBlock) {
                return
            }

            isBlock = true

            $(this).css("fill", "#007bff")
                .css("boxShadow", "0 0 4px 0px #6b6b6b")
            itemPattern.css("fill", "#6b6b6b")
                .css("boxShadow", "")

            $("#relative-tutor-list .badge").addClass("custom-badge")

            let itemList = $(".relative-tutor")
            itemList.css({"width": "30%", "display": "none"})
            itemList.each(function() {
                $("p:gt(0):lt(4)", this).css("display", "")
                    .removeClass("mr-5")
                $("p:gt(4)", this).css("display", "none")
            })
            // 淡入
            itemListFadeIn(itemList, {"display": "inline-block"})
            // 发现更多按钮
            $("#nextRecommendPageButton").css("width", "10%")
        })
        itemPattern.click(function () {
            if (!isBlock) {
                return
            }

            isBlock = false

            $(this).css("fill", "#007bff")
                .css("boxShadow", "0 0 4px 0px #6b6b6b")
            blockPattern.css("fill", "#6b6b6b")
                .css("boxShadow", "")

            $("#relative-tutor-list .badge").removeClass("custom-badge")

            let itemList = $(".relative-tutor")
            itemList.css({"width": "95%", "display": "none"})
            itemList.each(function() {
                $("p:gt(0):lt(4)", this).css("display", "inline-block")
                    .addClass("mr-5")
                $("p:gt(4)", this).css("display", "")
            })
            // 淡入
            itemListFadeIn(itemList, {"display": "inline-block"})
            // 发现更多按钮
            $("#nextRecommendPageButton").css("width", "95%")
        })
    })

    // 收藏
    function addFavorite(tutorNeo4jId) {
        // alert
        const alertComp = $(".alert")
        const msgComp = $(".alert strong")
        $.ajax({
            contentType: 'application/json',
            type: 'POST',
            url: BASE_URL+"favorite/add",
            dataType: "json",
            headers: getToken(),
            data: JSON.stringify(tutorNeo4jId),
            success: res => {
                if (res.result_code === 0) {
                    alertMsg(alertComp, msgComp, "收藏成功")
                    $("#add"+tutorNeo4jId).removeClass("d-none")
                    $("#delete"+tutorNeo4jId).addClass("d-none")
                }
                else {
                    alertMsg(alertComp, msgComp, "收藏失败")
                }
            },
            error: res => {
                alertMsg(alertComp, msgComp, "收藏失败")
            }
        })
    }

    // 取消收藏
    function deleteFavorite(tutorNeo4jId) {
        // alert
        const alertComp = $(".alert")
        const msgComp = $(".alert strong")
        $.ajax({
            contentType: 'application/json',
            type: 'DELETE',
            url: BASE_URL+"favorite/delete",
            dataType: "json",
            headers: getToken(),
            data: JSON.stringify(tutorNeo4jId),
            success: res => {
                if (res.result_code === 0) {
                    alertMsg(alertComp, msgComp, "取消收藏成功")
                    $("#add"+tutorNeo4jId).addClass("d-none")
                    $("#delete"+tutorNeo4jId).removeClass("d-none")
                }
                else {
                    alertMsg(alertComp, msgComp, "取消收藏失败")
                }
            },
            error: res => {
                alertMsg(alertComp, msgComp, "取消收藏失败")
            }
        })
    }
</script>
</body>
</html>
