<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/iconfont.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/displayframe.css">
</head>
<body>
<div class="show-recommend-result">
    <div class="recommend-box">

        <span>【可能感兴趣的导师】</span>

        <div th:each="scholar:${tutor}">
            <div class="recommend-type">
                <span>[[${scholar.name}]]</span>
            </div>

            <div class="recommend-information">
               <span class="title-first-info">
                  <span>
                    <span style="font-weight: bold">学院：</span>
                  </span>
                  <span>[[${scholar.organization}?${scholar.organization}:'暂无']]</span>
                </span>
                    <span class="second-info">
                  <span>
                    <span style="font-weight: bold">研究方向：</span>
                  </span>
                  <span>[[${scholar.studySpeciality}?${scholar.studySpeciality}:'暂无']]</span>
                </span>
                    <span class="third-info">
                  <span>
                    <span style="font-weight: bold">邮箱：</span>
                  </span>
                  <span>[[${scholar.email}?${scholar.email}:'暂无']]</span>
                </span>
            </div>
        </div>

        <div class="BoxFooter">
            <i class="iconfont icon-gengduo"></i>
            <span>查看更多感兴趣的导师</span>
        </div>
    </div>


</div>
</body>
</html>