<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.ida.recommend.tutor.dao.SysTutorBucketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zjut.ida.recommend.tutor.core.entity.SysTutorBucket">
        <id column="tutor_remap_id" property="tutorRemapId" />
        <result column="tutor_bucket" property="tutorBucket" />
    </resultMap>

    <select id="findBucketByNeo4jId" resultType="int" parameterType="long">
        select tutor_bucket
        from sys_tutor_bucket, model_tutor_map
        where model_tutor_map.neo4j_id = #{tutorNeo4jId}
        and model_tutor_map.tutor_id = sys_tutor_bucket.tutor_remap_id
    </select>
</mapper>
